:root {
--color-one: hsl(233, 47%, 7%);
--color-two: hsl(244, 38%, 16%);
--color-three: hsl(277, 64%, 61%);
--color-four: hsl(0, 0%, 100%);
--color-five: hsl(0, 0%, 100%, 0.75);
--color-six: hsla(0, 0%, 100%, 0.6);
--font-one: 'Inter', sans-serif;
--font-two: 'Lexend Deca', sans-serif;
}

body{
    background-color: var(--color-one);
}
.container {
    display: table;
    height: 100%;
    width: 100%;
        color: var(--color-four);
    margin: 200px auto;

}
.side-one {
    width:50%;
    display: table-cell;
    vertical-align: top;
    background-color: var(--color-two);
border-radius:  1% 0 0 1% ;
padding: 70px;
}
.side-two{
    display: table-cell;
    width:50%;
border-radius: 0 1% 1% 0;
    background-color: hsla(277, 96%, 55%, 0.911);
}

img {
width: 100%;
height: 100%;
background-color: var(--color-three);
opacity: 0.5;
border-radius: 0 1% 1% 0;

}

.one span{
    color: var(--color-three);
}
.one{
    font-size: 40px;
    font-family: var(--font-one);
    font-weight: bold;
    line-height: normal;
    margin-bottom: 30px;
    max-width: 470px;

}
.two {
    font-size: 16.5px;
    color: var(--color-six);
    font-family: var(--font-one);
    line-height: 25px;
    font-weight:200;
    max-width: 390px;
    margin-bottom: 120px;
}
.col span{
    color: var(--color-four);
    font-size: 25px;
    font-weight: bold;
}
.row{
    max-width: 440px;
}
.row div{
    font-family: var(--font-one);
    font-weight: normal;
    font-stretch: wider;
    color: var(--color-six);
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 0px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 400px) {
    .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 50px;
    }
.side-one{
    position: relative;
top: -30px;
z-index: 1;
    text-align: center;
    padding: 17px;
border-radius: 0 0 5px 5px ;
width: 90%;

}

.side-two{

border-radius:  5px 5px 0 0;
width: 90%;
}

img{
    max-width: 300px;
    max-height: auto;
border-radius:  5px 5px 0 0;
}

 .one{
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 15px;
        padding-right: 10px;
        padding-left: 10px;

    }
 .two {
        font-size: 13px;
        line-height: 1.5;
        padding-right: 40px;
        padding-left: 40px;
        margin-bottom: 40px;

    }
.row {
        display:flex;
        flex-direction: column;
        }
    div.col{
        margin-bottom: 15px;
    }
}